<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>
<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
      <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
    </div>
  </div>
</footer>
</html>
